---
import Layout from "../layouts/Layout.astro"

//Componentes
import Hero from '../components/landing/Hero.astro'

import More from "../components/landing/More.astro"


---


<Layout title="Impresión en color" description="Una impresión, todos tus momentos." keywords="impresión, experiencia, servicio, cerca">
	<div>
		<Hero/>
	</div>
</Layout>