---
import Layout from "../layouts/Layout.astro";

import Features from "../components/landing/Features.astro"
import GridBento from "../components/landing/BentoGrid.astro"
import Works from "../components/landing/Works.astro";
---

<Layout title="Portfolio" description="Portfolio de fotografías" keywords="">
	<div class="  ">
	
    <GridBento/>
		
	<Works/> 
	</div>
	
</Layout>