---
import Layout from "../layouts/Layout.astro";
import AboutandContact from "../components/landing/About.astro"
import Projects from "../components/landing/Projects.astro"
import Works from "../components/landing/Works.astro";
import Features from "../components/landing/Features.astro";
---

<Layout title="Servicios" description="Servicios" keywords="">
	<div class="flex flex-col gap-6">
		
			<h1>Proyectos y trabajos</h1>
	<p>para servicios tabla</p>	
	  <Projects/>
	  <Features/> 
	</div>
	
	
</Layout>