---
import {Image} from "astro:assets";
import Navbar from "./Navbar.astro";

---
<header class="bg-stone-800">
    <div class="item-center container flex justify-between py-5">
      
         <Navbar/>
    </div>

</header>